services:
	verifyapi.api.application:
		factory: VerifyApi\Api\Application

	verifyapi.api.controller.provider:
		factory: VerifyApi\Api\Controller\Provider

	verifyapi.api.parameters.provider:
		factory: \VerifyApi\Api\Parameters\Provider
parameters:
	basePath: /
